[submodule "nvim"]
	path = nvim
	url = https://github.com/unsecretised/my-nvim-config
[submodule "rustcast"]
	path = rustcast
	url = https://github.com/unsecretised/rustcast-dotfiles.git
[submodule "sketchybar"]
	path = sketchybar
	url = https://github.com/unsecretised/sketchybar-config.git
